 <main>
        <div class="lateral">
            <h3>CACTUS</h3>
            <h4>características</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione similique ipsa rerum eligendi. Expedita aliquam vero quisquam blanditiis in dignissimos quaerat repudiandae odit. Ipsum ducimus accusamus vel odio autem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur molestiae magnam voluptate deleniti in numquam! Repellat aspernatur cupiditate hic assumenda unde voluptatibus modi, maxime ab sint consequuntur ipsum explicabo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio molestiae veritatis facilis harum debitis quod vero unde quas rem, quo repudiandae ut cum. Laudantium in similique quisquam eaque! Facere!
            </p>
            <h4>cuidados</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione similique ipsa rerum eligendi. Expedita aliquam vero quisquam blanditiis in dignissimos quaerat repudiandae odit. Ipsum ducimus accusamus vel odio autem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur molestiae magnam voluptate deleniti in numquam! Repellat aspernatur cupiditate hic assumenda unde voluptatibus modi, maxime ab sint consequuntur ipsum explicabo.
            </p>
        </div>
        <div class="sucus">
            <div class="cada-sucu">
                <img src="images/cactus/astrophitum.jpg" alt="astrophitum">
                <h5>ASTROPHITUM</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/blossfeldia.jpg" alt="blossfeldia">
                <h5>BLOSSFELDIA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/euphorbia.jpg" alt="euphorbia">
                <h5>EUPHORBIA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/grusonii.jpg" alt="grusonii">
                <h5>GRUSONII</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/lithops.jpg" alt="lithops">
                <h5>LITHOPS</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/monster.jpg" alt="cereus monster">
                <h5>CEREUS MONSTER</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/opuntia.jpg" alt="opuntia">
                <h5>OPUNTIA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/sanpedro.jpg" alt="san pedro">
                <h5>SAN PEDRO</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/spiralis.jpg" alt="spiralis">
                <h5>SPIRALIS</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cactus/hildewintera.jpg" alt="cola de mono">
                <h5>HILDEWINTERA</h5>
            </div>

        </div>
      

    </main>