 <main>
        <div class="contact-head">
            <div class="contact-title"><h3>CONTACTO</h3></div>
        </div>
        <div class="caja">
            <form action="" method="" class="formulario">
                <p><label for="nombre">Nombre</label><input type="text" id="nombre" /></p>
                <p><label for="apellido">Apellido</label><input type="text" id="apellido" /></p>
                <p><label for="email">Email</label><input type="text" id="email" /></p>
                <p><label for="celular">Celular</label><input type="text" id="celular" /></p>
                <p><label for="comentario">Contanos</label><textarea id="comentario"></textarea></p>
                <p class="mandar"><input type="submit" value="Enviar"></p>
            </form>
        </div>
        <div class="contact-head">
            <div class="contact-title"><h3>HORARIOS</h3></div>
            <div class="horarios">
                <h2>VERANO</h2>
                <p>Lunes a Lunes</p>
                <p>de 10:00hs a 20:30hs</p>
                <h2>INVIERNO</h2>
                <p>Lunes a Lunes</p>
                <p>de 11:00hs a 19:00hs</p>
            </div>
        </div>
    </main>