 <main>
        <div class="date">
            <h3>20 DE JULIO</h3>
            <h4>díadelamigo</h4>

        </div>
        <div class="propuesta">
            <div class="alavista">
                <img src="images/phaleanopsis.jpg" alt="orquidea phaleanopsis">
                <div class="sobreimp">
                    <h2>phaleanopsis</h2>
                    <p>Orquidea para interior, las flores duran meses y es fácil de cuidar.</p>
                </div>
            </div>
            <div class="alavista">
                <img src="images/bonsay.jpg" alt="bonsay" height="202">
                <div class="sobreimp">
                    <h2>bonsay</h2>
                    <p>Bonsay para exterior, resguardar del frío, recomendado para iniciados.</p>
                </div>
            </div>
            <div class="alavista">
                <img src="images/macetas.jpg" alt="macetas decoradas" width="300">
                <div class="sobreimp">
                    <h2>macetas</h2>
                    <p>Variedad de modelos, motivos y tamaños. Pintadas a mano, dibujadas o esmaltadas.</p>
                </div>
            </div>
        </div>


    </main>