 <main>
        <div class="semana">
            <div class="week">
                <h3>ESTA SEMANA</h3>
            </div>
            <div class="week-plant">
                <div>
                    <h2>fitonia</h2>
                </div>
                <div class="plant-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, necessitatibus. Aspernatur
                        repellendus placeat nihil optio fugiat magni labore vero? Vero odio dignissimos labore
                        sapiente maxime impedit accusamus magnam beatae doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="date">
            <h3>20 DE JULIO</h3>
            <h4>díadelamigo</h4>
            <h3><a href="/fechas">IDEAS CLASICAS Y ORIGINALES</a></h3>
        </div>
        <div class="winter">
            <h3>INVIERNO</h3>
        </div>
        <div class="seasons">
            <div class="season-flower">
                <h5>Cyclamen Persicum</h5>
                <h2>violeta de los alpes</h2>
            </div>
        </div>
    </main>
