 <main>
       <div class="interior-head">
            <div class="interior-title"><h3>INTERIOR</h3></div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere cumque velit at, nemo optio laudantium modi ea ipsum aliquid repellendus ipsa beatae omnis et odio necessitatibus dolore in consequuntur cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nisi molestiae alias rerum esse aut vitae nemo, quis perferendis ipsum quisquam error odio quos. Dicta atque autem harum eum error.</p>
        </div>
        <div class="gallery-int">
            <div class="gallery-item">
                <img src="images/palodeagua.jpg" alt="palo de agua">
                <h2>palo de agua</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem dolorem magnam, quidem, aliquid deserunt nihil perferendis quia nemo doloremque sequi, quis dolor numquam reiciendis quisquam? Perferendis dolorem in officia.</p>
            </div>
            <div class="gallery-item">
                <img src="images/monstera.jpg" alt="monstera">
                <h2>filodendro monstera</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem dolorem magnam, quidem, aliquid deserunt nihil perferendis quia nemo doloremque sequi, quis dolor numquam reiciendis quisquam? Perferendis dolorem in officia.</p>
            </div>
            <div class="gallery-item">
                <img src="images/fitonia2.jpg" alt="fitonia">
                <h2>fitonia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem dolorem magnam, quidem, aliquid deserunt nihil perferendis quia nemo doloremque sequi, quis dolor numquam reiciendis quisquam? Perferendis dolorem in officia.</p>
            </div>
            <div class="gallery-item">
                <img src="images/asplenium.jpg" alt="asplenium">
                <h2>asplenium osaca</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem dolorem magnam, quidem, aliquid deserunt nihil perferendis quia nemo doloremque sequi, quis dolor numquam reiciendis quisquam? Perferendis dolorem in officia.</p>
            </div>
            <div class="gallery-item">
                <img src="images/estrellafederal.jpg" alt="estrella federal">
                <h2>estrella federal</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem dolorem magnam, quidem, aliquid deserunt nihil perferendis quia nemo doloremque sequi, quis dolor numquam reiciendis quisquam? Perferendis dolorem in officia.</p>
            </div>
            <div class="gallery-item">
                <img src="images/pandurata.jpg" alt="ficus pandurata">
                <h2>ficus pandurata</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem dolorem magnam, quidem, aliquid deserunt nihil perferendis quia nemo doloremque sequi, quis dolor numquam reiciendis quisquam? Perferendis dolorem in officia.</p>
            </div>


        </div>
    </main>