<!DOCTYPE html>
<html>
  <head>
    <title>El jardín secreto</title>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Pathway+Gothic+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/aos.css">
   
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}

  </head>
  <body>
    <header>
        <div class="volanta">
            <h3>VIVERO</h3>
        </div>
         <div class="logo">
           <a href="/"><h1>eljardínsecreto</h1></a>
        </div>
        <div class="social">
            <ul>
                <li><a class="boton icon-instagram" href="#"></a></li>
                <li><a class="boton icon-whatsapp" href="#"></a></li>
            </ul>
        </div>

        <nav>
            <div class="sail">
                <ul>
                    <li><a href="/interior">INTERIOR</a></li>
                    <li><a href="/exterior">EXTERIOR</a></li>
                    <li><a href="/suculentas">SUCULENTAS</a></li>
                    <li><a href="/cactus">CACTUS</a></li>
                    <script> </script>
                </ul>
            </div>
        </nav>
    </header>
    {{{body}}}
   
    <footer>
        <div class="footer-nav">
            <ul>
                <li><a href="/sustratos">SUSTRATOS</a></li>
                <li><a href="/macetas">MACETAS</a></li>
                <li><a href="/problemas">PROBLEMAS</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
            </ul>
        </div>
        <div class="end">
            <h3>VIVERO EL JARDIN SECRETO<br>José Ingenieros 354 Olivos<br><span>ANDY CAMBRA ABRIL 2020</span> </h3>
        </div>
    </footer>
  </body>
</html>
