<main>
    <div class="titulo">
        <h5>Encontrá la solución a los problemas más comunes:</h5>
    </div>

    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>se caen las hojas</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>no da flores</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>tiene manchas en las hojas</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>las puntas de las hojas se ponen negras</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>no crece</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>tiene una espumita blanca</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>tiene bichitos negros</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>las hojas están comidas</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
    </div class="caja">
    <div class="problema" data-aos="fade-up">
        <h2>las hojas están deformes</h2>
        <div class="sobreimpreso">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe neque quisquam fuga delectus possimus
                repellendus, odit, deleniti, omnis at minus eaque nemo suscipit animi! Molestiae voluptates beatae quam
                porro odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, voluptatem accusamus?
                Consectetur, quis corrupti? Qui expedita consequuntur similique, voluptatem sed a distinctio saepe nulla
                sunt eveniet aspernatur pariatur quibusdam ipsam?</p>
        </div>
    </div>
    </div>
       <script src="/javascripts/aos.js"></script>
    <script>
        AOS.init();
    </script>

</main>