  <main>
        <div class="lateral">
            <h3>SUCULENTAS</h3>
            <h4>características</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione similique ipsa rerum eligendi. Expedita aliquam vero quisquam blanditiis in dignissimos quaerat repudiandae odit. Ipsum ducimus accusamus vel odio autem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur molestiae magnam voluptate deleniti in numquam! Repellat aspernatur cupiditate hic assumenda unde voluptatibus modi, maxime ab sint consequuntur ipsum explicabo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex distinctio molestiae veritatis facilis harum debitis quod vero unde quas rem, quo repudiandae ut cum. Laudantium in similique quisquam eaque! Facere!
            </p>
            <h4>cuidados</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione similique ipsa rerum eligendi. Expedita aliquam vero quisquam blanditiis in dignissimos quaerat repudiandae odit. Ipsum ducimus accusamus vel odio autem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur molestiae magnam voluptate deleniti in numquam! Repellat aspernatur cupiditate hic assumenda unde voluptatibus modi, maxime ab sint consequuntur ipsum explicabo.
            </p>
        </div>
        <div class="sucus">
            <div class="cada-sucu">
                <img src="images/echenodulosa.jpg" alt="echeveria nudolosa">
                <h5>ECHEVERIA NODULOSA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/echeglauca.jpg" alt="echeveria glauca">
                <h5>ECHEVERIA GLAUCA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/calacaladiva.jpg" alt="calanchoe caladiva">
                <h5>CALANCHOE CALADIVA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/calatormentosa.jpg" alt="calanchoe tormentosa">
                <h5>CALANCHOE TORMENTOSA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/cotitormentosa.jpg" alt="garrita de oso">
                <h5>COTILEDON TORMENTOSA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/echeagavoides.jpg" alt="echeveria agavoides">
                <h5>ECHEVERIA AGAVOIDES</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/echepansy.jpg" alt="echeveria pansy">
                <h5>ECHEVERIA PANSY</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/sedumdeoro.jpg" alt="sedum de oro">
                <h5>SEDUM DE ORO</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/sedumrubra.jpg" alt="sedum rubra">
                <h5>SEDUM RUBRA</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/senecioazul.jpg" alt="senecio azul">
                <h5>SENECIO AZUL</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/calarosado.jpg" alt="calanchoe rosado">
                <h5>CALANCHOE ROSADO</h5>
            </div>
            <div class="cada-sucu">
                <img src="images/echecurls.jpg" alt="echeveria curls">
                <h5>ECHEVERIA CURLS</h5>
            </div>
        </div>
    </main>