 <main>
        <div class="titulo">
            <h3>SUSTRATOS</h3>
        </div>
        <div class="contenedor">
            <div class="sustrato">
                <img src="images/macetas-sustratos/tierra.jpg" alt="tierra fértil">
                <h4>TIERRA FERTIL</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim deleniti commodi nobis incidunt labore quae culpa sunt eveniet. Quaerat eveniet mollitia, deleniti enim tempore consequatur sed quod dignissimos ad!</p>
            </div>
            <div class="sustrato">
                <img src="images/macetas-sustratos/turba.jpg" alt="turba">
                <h4>TURBA</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim deleniti commodi nobis incidunt labore quae culpa sunt eveniet. Quaerat eveniet mollitia, deleniti enim tempore consequatur sed quod dignissimos ad!</p>
            </div>
            <div class="sustrato">
                <img src="images/macetas-sustratos/perlita.jpg" alt="perlita">
                <h4>PERLITA</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim deleniti commodi nobis incidunt labore quae culpa sunt eveniet. Quaerat eveniet mollitia, deleniti enim tempore consequatur sed quod dignissimos ad!</p>
            </div>
            <div class="sustrato">
                <img src="images/macetas-sustratos/humus.jpg" width="200" alt="humus">
                <h4>HUMUS DE LOMBRIZ</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi enim deleniti commodi nobis incidunt labore quae culpa sunt eveniet. Quaerat eveniet mollitia, deleniti enim tempore consequatur sed quod dignissimos ad!</p>
            </div>

        </div>
   



      
    </main>